.navigation{
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{

  }

  li a{
    width: 100%;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid $cerulean;
    padding: 10px 0;

    &:hover{
      background-color: $cerulean;
      color: $white;
    }
  }
}